a { 
	cursor: pointer; 
}
.errorMessage{ 
	margin: 15px 0px 0px 0px !important; 
	color:#cc0000; 
	border-left:2px solid #cc0000 !important;
}
a.all-none { 
	font-weight: normal; 
	cursor: pointer; 
	color: #000000; 
	text-decoration:underline;
}