.sortable { 
	width:100% 
}
.sortable td { 
	width:10%; 
	padding:3px 0px 3px 0px; 
}
.sortable th { 
	padding: 0px 0px 2px 0px; 
	border-bottom: 2px solid #ccc !important; 
}
.dataCol { 
	text-align:left; 
}
.spacerCol { 
	width:200px;
}
.dataCol2 { 
	width:125px !important;  
}
#commentContainer { 
	width:270px; 
	right:20px; 
	position:absolute; 
	border: 3px solid #77B900; 
	padding:0px;  
	z-index:9999;
}
#commentContainer .hd-right { 
	float:right; 
}
#commentContainer .bd { 
	background-color:#f3f3ec; 
	clear:both; 
}

body .btn.likeButton {
    padding:3px 5px;
	text-decoration:none;
	margin:0;
	float:left;
	*padding:4px 5px 5px;
}

body .pbButton input, body .pbButtonb input {
	float:left;
	padding /*\**/: 3px 5px\9;
}

body .pbTitle h2 {
	*margin : 5px;
}

#daysAfterTtip_help.helpButton, #daysAfterTtip_help.helpButtonOn {
    position: absolute;
}


